.about-container{

    position: absolute;
    left: 0;
    color: white;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    @media screen and (min-width: 769px){
        float: right;
        width: calc(100vw - var(--nav-width));
        left: var(--nav-width);
    }

    &__info-container{
        min-height: calc(100vh - var(--footer-normal-height));
        padding: var(--nav-height) 20px;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        @media screen and (max-width: 768px){
            min-height: calc(100vh - var(--footer-mobile-height));

        }
        p {
            max-width: 1280px;
            margin: 0 auto;
            white-space: pre-wrap;
        }
    }
    
    .about-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(0);
    }

    &__title, &__subtitle {
        margin: 32px 0;
    }
    &__title{
        text-align: center;
        display: flex;
        justify-content: center;
        .letter{
            font-size: 24px;
            display: block;
        }
    }

    &__subtitle {
        text-align: center;
        @media screen and (max-width: 768px){
            font-size: 20px;
        }
    }
}
