
.contact-component-container{
    position: absolute;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-image: url('../../assets/studio6.jpeg');
    left: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    @media screen and (min-width: 767px){
        float: right;
        width: calc(100vw - var(--nav-width));
        left: var(--nav-width);
    }
    img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .contact-container{
        padding: 16px;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.466);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 767px){
            justify-content: flex-start;
        }
        box-sizing: border-box;
    }
}

.contact-form a {
    width: fit-content;
}

.feature-layout {
    font-size: 24px;

    @media screen and (max-width: 767px){
        text-align: center;
        padding-top: 64px;
    }
    
    * {
        color: white;
    }

    a{
        display: block;
        margin-top: 64px;
        @media screen and (max-width: 767px){
            margin-top: 16px;
        }
    }
    
    a strong{
        width: 100%;
        color: rgb(80, 182, 123);
        word-wrap: break-word;
        @media screen and (max-width: 767px){
            letter-spacing: 1px;
            font-size: 16px;
        }
    }

    h1 {
        @media screen and (max-width: 767px){
            font-size: 24px;
        }
    }

    a strong:hover{
        color: rgb(70, 201, 125);
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 700px;
    .form-item{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }
}

label{
    color: white;
    font-size: 16px;
    margin: 8px 0;
}

input, textarea {
    background-color: rgba(32, 32, 31, 0.267);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.226);
    border-radius: 8px;
    margin: 8px 0;
    font-size: 16px;
}

input {
    padding: 0.5rem;
    text-align: center;
    width: 50%;
    max-width: 300px;
}

.submit-btn{
    margin-top: 16px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 16px 24px;
}

.submit-btn:hover{
    background-color: rgba(27, 27, 27, 0.377);
}

input::placeholder{
    color: white;
    text-align: center;
}

textarea{
    font-size: 16px;
    padding: 0.5rem;
    white-space: pre-wrap;
}

textarea::placeholder{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px){

    form {
        padding: 0;
        margin: 2rem auto;
        div > label {
            font-size: 14px;
        }
        .submit-btn{
            font-size: 16px;
        }
    }
}