@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html {
  --nav-width: 300px;

  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

input, textarea{
  outline: none;
}
