.mobile-nav-container{
  
    display: none;
    height: 75px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    position: fixed;
    top: 0;
    z-index: 10;
    transition: transform 0.3s ease-in-out;

    // @media screen and (max-width: var(--nav-width)){
    @media screen and (max-width: 767px){
        display: block;
    }


    // logo link
    a {
      display: block;
      height: 100%;
      width: fit-content;
      margin: 0 auto;
      mix-blend-mode: multiply;
    }
    
    &__logo { // logo image
        height: 100%;
    }    

    &__sidebar {
        position: absolute;
        background-color: rgb(246, 246, 246);
        height: 100vh;
        padding-top: 32px;
        width: 100%;
        right: 0;
        text-align: center;
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(.61,.26,.43,.94);
        &.show {
            transform: translateX(0);
        }

        ul li {
            padding: 1rem 0;
        }
        ul a {
          display: block;
          box-sizing: border-box;
          color: rgba(0, 0, 0, 0.548);
          font-size: 1.5rem;
          font-weight: 600;
          width: 75%;
          max-width: 300px;
          margin: 0 auto;
          border-radius: 32px;
          border: 1px solid rgba(240, 240, 240, 0.815);
          padding: 8px 0;
          background: #f7f7f7;
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
        }
        ul a:hover {
          box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
          inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        }

        ul a.active{
          color: #000000;
          box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
          inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      }
    }
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

